<template>
  <div>
    <Navbar />
    <main>
      <div class="container">
        <Nuxt /> 
      </div>
    </main>
  </div>
</template>

<script>
import NavBar from '@/components/Navbar'
export default {
  components: {
    NavBar
  },
}
</script>
