<template>
    <section>
        <h1>About page</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dicta vel a voluptas atque eum. Adipisci nemo accusamus, dolor fuga natus cum ducimus eaque minima, aut minus assumenda hic. Cupiditate.</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore suscipit alias incidunt architecto, quibusdam reiciendis aliquam repudiandae ex a porro itaque vitae veniam officia numquam illo explicabo odio rerum iste.</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla rerum quia consequatur, obcaecati voluptatibus iusto at repellat optio, earum provident, illo vero temporibus ut non! Dolorum ex iste optio odio.</p>
    </section>
</template>

<script>
export default {
  middleware: ['auth']
}
</script>